html,body{
    height: 100%;
    padding: 0;
    margin: 0;
}

.boxi{
    float:left;
    margin-left: 25%;
    text-align: center;
    width: 50%;
    height: 90%;
    border-style: solid;
    border-radius: 16px;
    border-width: 5px;
    border-color: #4489d8;
    background-color: #abc1da;
}

.pisteet{
    border-radius: 10px;
    text-align: center;
    margin-right: 6.2%;
    float: right;
    width: 12.5%;
    background-color: #addaab8c;
}

.yla{
    height: 66%;
}

.roskis{   
    
    
    text-align: center;
    float: left;
    width: 12.5%;
    height: 100%;
    background-color: #e9d190;

}

.roskaboxi{
    text-align: center;
    height: 34%;    
}

.kor{
    height: 100%;
}

h5{
    text-align: center;
}

.dropzone {
    background-color: purple;
    border: dashed 4px transparent;
    border-radius: 4px;
    margin: 10px auto 30px;
    padding: 10px;
    width: 80%;
    height: 120px;
    transition: background-color 0.3s;
}

.drop-active {
    border-color: #aaa;
  }

#drag-1, #drag-2, #drag-3 {
    width: 5%;
    min-height: 0.5em;
    margin: 1rem 0 0 1rem;
    background-color: red;
    border-radius: 0.75em;
    overflow: hidden;
    touch-action: none;
    user-select: none; 
    transform: translate(450px, -1200px);
}